spring:

  application:
    name: collector

  config:
    import: "configserver:"

  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000

eureka:
  client:
    registerWithEureka: true
    serviceUrl:
      defaultZone: "http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/"
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
    hostname: localhost
    leaseRenewalIntervalInSeconds: 10